
body {
  margin: 0;
  padding: 0;
  background: #F0F7DC;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

svg#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewbox {
  fill-opacity: 0;
}

.dot {
  fill: #351302;
}

line {
  stroke: #351302;
  stroke-width: 1;
}

.board {
  fill: #E5F5B8;
  stroke: #21290B;
  stroke-width: 1;
}
.boardblur {
  fill: #D7E4DA;
  stroke-width: 0;
}
.stoneblur {
  fill: #111;
  filter: url(#blur);
}

.cell {
  fill-opacity: 0;
  cursor: pointer;
}

.highlight {
  fill: #FFCE00;
  stroke: #FFCE00;
  stroke-width: 3;
}

circle.variation {
  fill: #351302;
  stroke: #351302;
  stroke-width: 3;
  
  fill-opacity: 0;
  stroke-opacity: 0.3;
}
circle.variation.active {
  fill-opacity: 0.3;
  stroke-opacity: 0.3;
}

.message {
  font-family: Helvetica, Arial, sans-seif;
  font-size: 30px;
  fill: #436B6B;
}

.btn {
  fill: #D7DAD8;
}
.btn.active {
  fill: #436B6B;
  cursor: pointer;
}
